/*** Variable definitions ***/
:root {
    --main-bg-color: #000000;
    --alt-bg-color: #333333;
    --main-text-color: #BEBEBE;
    --foreground-color: #CF0F0A;
    --rec-border-color: #CF0F0A40;
    --lotus-outline: #000000;
    --muted-foreground-color: #9B4141;
    --standard-border-radius: 60px;
    --main-font: "Hack", "Source Code Pro", monospace;
    --mono-font: "Poppins", sans-serif;
}

/*** General styling ***/
html {
    height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: var(--foreground-color) var(--main-bg-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100%;
    background: linear-gradient(to right, transparent, black 30%, black 70%, transparent),
        url("./red_fractal_swirling_hd_trippy.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--main-text-color);
}

.page-container {
    flex: 1;
    width: 50%;
}

/*** Footer ***/
footer {
    padding: 7px 15px 15px 15px;
    font-family: var(--mono-font);
    text-align: center;
}

footer a {
    color: var(--muted-foreground-color);
}

/*** Helper classes ***/
.standard-border {
    border: 5px solid var(--foreground-color);
}

.hidden {
    visibility: hidden;
}

.indisplay {
    display: none;
}

/*** Header ***/
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

#lotus-svg {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto 100px;
    stroke: var(--lotus-outline);
    fill: var(--alt-bg-color);
}

.title {
    position: absolute;
    top: 25%;
    z-index: 2;
    margin-left: 21px;
    font-size: 200px;
    font-family: var(--main-font);
    font-weight: 800;
    text-align: center;
    user-select: none;
}

/*** Settings page ***/
#settings-container {
    position: fixed;
    z-index: 4;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    border-radius: var(--standard-border-radius);
    height: 80%;
    width: 60%;
    background-color: var(--rec-border-color);
}

#settings-container-inner {
    position: relative;
    border: none;
    background-color: var(--main-bg-color);
    overflow-y: scroll;
    padding: 30px;
    scrollbar-color: var(--foreground-color) var(--main-bg-color);
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;
    font-size: 24px;
    font-family: var(--main-font);
}

.settings-header {
    display: flex;
    align-items: center;
}

.settings-section-heading {
    font-size: 36px;
    font-family: var(--mono-font);
    font-weight: bold;
    flex: 1;
    text-align: center;
}

#settings-title {
    padding-left: 50px;
}

#unban-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#settings-close {
    border: none;
    width: 50px;
    height: 50px;
    background-image: url("./return.svg");
    background-color: transparent;
    cursor: pointer;
    color: var(--alt-bg-color);
    stroke: #ffffff;
}

.settings-message {
    text-align: center;
}

#rec-count-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rec-count {
    background-color: var(--alt-bg-color);
    color: var(--main-text-color);
    border: none;
    font-size: 24px;
    height: 36px;
    width: 120px;
}

#rec-count:focus {
    outline-width: 0;
}

/*** Tags popup ***/
.popup-container {
    position: relative;
    width: 100%;
    height: 0;
}

#tags-popup {
    position: relative;
    z-index: 3;
    top: -535px;
    display: flex;
    margin: 0 auto;
    border: 5px solid var(--foreground-color);
    border-radius: var(--standard-border-radius);
    width: 40%;
    height: 450px;
    background-color: var(--main-bg-color);
}

.scrollbar-rounder {
    display: flex;
    overflow: hidden;
    margin: 30px;
    width: 100%;
    border-radius: 30px;
}

#tags-popup-inner {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    scrollbar-width: thin;
    scrollbar-color: var(--foreground-color) var(--main-bg-color);
    scrollbar-gutter: stable both-edges;
}

#tag-search {
    margin: 30px 20px;
    width: inherit;
    min-width: 0;
    background-color: var(--alt-bg-color);
}

#tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 6px;
}

.tag {
    margin: 5px;
    border: none;
    border-radius: var(--standard-border-radius);
    padding: 8px;
    background-color: var(--alt-bg-color);
    cursor: pointer;
    font-size: 18px;
    font-family: var(--mono-font);
    font-weight: bold;
    color: var(--main-text-color);
}

.tag:hover {
    color: var(--foreground-color);
}

.tag.selected-tag {
    color: var(--muted-foreground-color);
}

/*** User search bar ***/
#user-search {
    width: 100%;
    height: 100%;
}

.search-bar-container {
    display: flex;
    margin: 0 auto;
    /* min-width: 500px; */
    height: 58px;
    border-radius: var(--standard-border-radius);
}

.input-box {
    display: inline;
    border: none;
    background: none;
    font-size: 30px;
    font-family: var(--mono-font);
    color: var(--main-text-color);
}

.input-box:focus {
    outline-width: 0;
}

.searchbar-button {
    display: inline;
    border: none;
    background: none;
}

.searchbar-svg {
    display: inline;
    stroke: var(--main-text-color);
    fill: var(--main-text-color);
}

#search-button {
    margin-right: 20px;
    cursor: pointer;
}

#unban-container .rec {
    margin: 0;
}

/*** Recommendation container ***/
#rec-container-container {
    margin-top: 5%;
    border-radius: var(--standard-border-radius);
    background: var(--rec-border-color);
}

#rec-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px;
    border-radius: 30px;
    background: var(--main-bg-color);
}

.rec {
    display: flex;
    gap: 30px;
    margin: 0 20px;
    border: none;
    border-radius: var(--standard-border-radius);
    padding: 10px;
    background: var(--alt-bg-color);
    font-size: 36px;
    font-family: var(--main-font);
    font-weight: 600;
    font-style: normal;
}

.rec-link {
    text-decoration: none;
    color: var(--main-text-color);
}

.rec-link:visited {
    color: var(--muted-foreground-color);
}

.rec-link:hover {
    color: var(--foreground-color);
}

.ban-button {
    margin: auto 0;
    border: none;
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-image: url("./gray_circle.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ban-button:hover {
    background-image: url("./red_x.svg");
}

.response-text {
    padding: 30px;
    font-size: 36px;
    font-family: var(--mono-font);
    text-align: center;
}

.response-text.error {
    padding-bottom: 0;
}

.status-text {
    padding: 0 30px 30px;
    font-size: 18px;
    font-family: var(--mono-font);
    text-align: center;
}

/*** User autocomplete ***/
.user-ac-parent {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    flex: 1;
    min-width: 0;
}

.user-ac-container div {
    border-bottom: 2px solid var(--main-bg-color);
    padding: 8px;
    font-size: 18px;
    font-family: var(--mono-font);
    background-color: var(--alt-bg-color);
    cursor: pointer;
}

.user-ac-container div:hover {
    background-color: var(--main-text-color);
}

.user-ac-container div:hover span {
    color: var(--foreground-color);
}

/* div is specified to override the above */
div.user-ac-selected {
    background-color: var(--main-text-color);
    color: var(--foreground-color);
}

div.user-ac-selected span {
    color: var(--foreground-color);
}

.user-ac-shared {
    color: var(--muted-foreground-color);
}
